section.ui.one.column.grid
  .row
    .column.title Habilidades
  .ui.column.grid
    .row
      .two.wide.column
      .six.wide.column.text-center.ability-title Front-End
      .six.wide.column.text-center.ability-title Back-End
  .ui.column.grid.abilities
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left HTML 5
        .text.rigth
          +all-stars
      .six.wide.column.ability
        .text.left Node JS
        .text.rigth
          +three-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Jade
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left .NET
        .text.rigth
          +all-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left CSS 3
        .text.rigth
          +all-stars
      .six.wide.column.ability
        .text.left Ruby on Rails
        .text.rigth
          +three-half-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Less
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left Java
        .text.rigth
          +two-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Sass
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left Desing Patterns
        .text.rigth
          +four-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left JavaScript
        .text.rigth
          +all-stars
      .six.wide.column.ability
        .text.left Selenium
        .text.rigth
          +four-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left CoffeeScript
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left MSTest
        .text.rigth
          +four-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left AngularJS
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left XUnit
        .text.rigth
          +four-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Jquery
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left NUnit
        .text.rigth
          +four-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Bootstrap
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left Protractor
        .text.rigth
          +three-half-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Semantic-UI
        .text.rigth
          +four-stars
  .ui.column.grid
    .row
      .two.wide.column
      .six.wide.column.text-center.ability-title Banco de dados
      .six.wide.column.text-center.ability-title Outros
  .ui.column.grid.abilities
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left SQL Server
        .text.rigth
          +four-stars
      .six.wide.column.ability
        .text.left Scrum
        .text.rigth
          +four-half-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left MySql
        .text.rigth
          +three-half-stars
      .six.wide.column.ability
        .text.left Integração Contínua
        .text.rigth
          +four-half-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left Postgresql
        .text.rigth
          +three-half-stars
      .six.wide.column.ability
        .text.left Git
        .text.rigth
          +four-half-stars
    .row
      .two.wide.column
      .six.wide.column.ability
        .text.left MongoDB
        .text.rigth
          +three-stars
      .six.wide.column.ability
        .text.left Gulp
        .text.rigth
          +three-half-stars