section.ui.one.column.grid
  .row
    #certificates.column.title Certificados
  .row
    .column.certifications
      img(src='images/mcp.png')
  .row
    .column.certifications
      ul.certifications-list
        li
          a(href='https://www.microsoft.com/en-us/learning/exam-70-480.aspx') Exame 70-480 - Programming in HTML5 with JavaScript and CSS3
        li
          a(href='https://www.microsoft.com/en-us/learning/exam-70-486.aspx') Exame 70-486 - Developing ASP.NET MVC Web Applications
hr