section.contact
  .ui.one.column.grid
    .row
      #contact.column.title Contato
  .ui.grid.text-center
    .four.wide.column.text-right
      .bold Nome: 
    .four.wide.column.text-left
      div Douglas da Costa Pinheiro
  .ui.grid.text-center
    .four.wide.column.text-right
      .bold Idade: 
    .four.wide.column.text-left
      div 19 Anos
  .ui.grid.text-center
    .four.wide.column.text-right
      .bold Endereço: 
    .four.wide.column.text-left
      div Mauá - SP
  .ui.grid.text-center
    .four.wide.column.text-right
      .bold Email: 
    .four.wide.column.text-left
      div douglaspinheiroti@gmail.com
  .ui.grid.text-center
    .four.wide.column.text-right
      .bold Telefone: 
    .four.wide.column.text-left
      div +55 11 952850777 (tim)
  .ui.one.column.grid
    .row
      form#send-email(method='post', action='mailto:douglaspinheiroti@gmail.com')
        input.ui.inverted.black.active.button.text-center(type='submit', value='Mandar Email')