section.education
  .ui.one.column.grid
    .row
      #education.column.title Escolaridade
  .ui.grid
    .six.wide.column
      img(src='images/logo-etec.jpg')
    .ten.wide.column
      p(style='font-weight: 700 !important; font-size: 18px;') Técnico em informática na ETEC de Mauá
      p(style='font-weight: 700 !important; font-size: 18px;')  Concluido, Data: 12/2013
      p
        | O curso técnico da ETEC foi onde eu tive meu primeiro contato com programação e, desde então, não parei de programar, sempre aprimorando minhas habilidades.
  .ui.grid
    .six.wide.column
      img(src='images/logo-estacio.jpg')
    .ten.wide.column
      p(style='font-weight: 700 !important; font-size: 18px;') Graduação em Analise e desenvolvimento de sistemas
      p(style='font-weight: 700 !important; font-size: 18px;') Cursando, Termino previsto: 12/2016
      p
        | Na faculdade de Análise e Desenvolvimento de Sistemas, eu obtive uma visão muito mais ampla sobre os processos de criação e manutenção de softwares e sobre as ferramentas utilizadas nos mesmos.
hr