footer
  #links
    a(href='https://github.com/douglasPinheiro')
      i.fa.fa-github
    a(href='https://www.instagram.com/douglas.dacosta.58/')
      i.fa.fa-instagram
    a(href='https://twitter.com/douglascostadev')
      i.fa.fa-twitter
    a(href='https://www.facebook.com/douglas.dacosta.58')
      i.fa.fa-facebook-official
    a(href='https://br.linkedin.com/in/douglas-da-costa-pinheiro-22559855')
      i.fa.fa-linkedin
  #rights © 2015 Douglas da Costa Pinheiro. All rights reserved. Desenvolvedor