mixin all-stars
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star

mixin four-half-stars
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star-half-full

mixin four-stars
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star-o

mixin three-half-stars
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star-half-full
  i.fa.fa-star-o

mixin three-stars
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star-o
  i.fa.fa-star-o

mixin two-stars
  i.fa.fa-star
  i.fa.fa-star
  i.fa.fa-star-o
  i.fa.fa-star-o
  i.fa.fa-star-o