section.ui.one.column.grid.resume
  .row
    #resume.column.title Resumo
  .row
    .column.content
      p Olá, meu nome é Douglas.
      p Sou desenvolvedor web, apaixonado por testes de software,
      p metodologias ágeis (Scrum é minha preferida), e café.
      p Gosto de trabalhar em equipes multidisciplinares, pois adoro
      p aprender coisas novas e passar o meu conhecimento a frente.
.ui.one.column.grid.resume
  .row
    a.ui.inverted.black.active.button.text-center(href='documents/douglas_curriculo.pdf', download='douglas_curriculo.pdf')
      | Download curriculo
hr