section.ui.one.column.grid.resume
  .row
    #resume.column.title Resumo
  .row
    .column.content
      p Olá, meu nome é Douglas da Costa Pinheiro.
      p Sou desenvolvedor web, apaixonado por testes de software
      p e metodologias ágeis (Scrum é minha preferida).
      p Trabalho com o desenvolvimento Web há mais ou menos 2 anos,
      p mas não se engane, embora não faça muito tempo, eu já aprendi muito.
.ui.one.column.grid.resume
  .row
    a.ui.inverted.black.active.button.text-center(href='documents/douglas_curriculo.docx', download='douglas_curriculo.docx')
      | Download curriculo
hr