doctype html
html
  include ./includes/mixins.jade
  head
    title Douglas da Costa Pinheiro
    meta(charset='utf-8')
    link(rel='stylesheet', href='styles/css/main.css')
    link(rel='stylesheet', href='packages/semantic-ui/semantic.min.css')
    link(rel='stylesheet', href='packages/normalize.css/normalize.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    include ./includes/loader.jade
    a.cd-top(href='#0') Top
    .parallax
      include ./includes/header.jade
      main.block
        include ./includes/resume.jade
        include ./includes/abilities.jade
        include ./includes/certificates.jade
        include ./includes/education.jade
        include ./includes/portfolio.jade
        include ./includes/contact.jade
      include ./includes/footer.jade
  
  script(type='text/javascript', src='packages/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='packages/semantic-ui/semantic.min.js')
  script(type='text/javascript', src='scripts/main.js')