@import url(https://fonts.googleapis.com/css?family=Quicksand)

@import mixins
@import keyframes
@import loader

html
  height: 100%
  overflow: hidden

.parallax
  margin: 0
  padding: 0
  perspective: 1px
  transform-style: preserve-3d
  height: 100%
  overflow-y: scroll
  overflow-x: hidden

.parallax, div, ul, #hire
  font-family: Quicksand, sans-serif

ul
  list-style-type: none

hr
  width: 70%
  margin: 42px
  margin-left: auto
  margin-right: auto

hr.hr-portfolio
  margin-top: 75px

.block
  position: relative
  padding: 5vh 10%
  min-height: 100vh
  width: 100vw
  box-sizing: border-box
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7)
  transform-style: inherit
  background: 50% 50% / cover
  &:before
    background: 50% 50% / cover

#scrollDown
  position: absolute
  top: 90%
  left: 50%
  cursor: pointer
  +scroll-animation(0.8s)
  > i
    font-size: 50px
    color: black


header
  background-image: url("../../images/background.jpg") !important
  transform: translateZ(-1px) scale(2)
  z-index: -1

main
  background-color: white !important
  min-height: 120vh !important

nav
  display: block
  font: 12px 'opensans-bold', sans-serif
  width: 100%
  text-transform: uppercase
  letter-spacing: 2.5px
  margin: 0 auto
  z-index: 100
  position: fixed
  left: 0
  top: 0
  > ul
    list-style-type: none
    display: flex
    padding: 0
    > li 
      width: 25%
      text-align: center
      position: relative
      list-style: none
      line-height: 48px
      display: inline-block
      color: black
      margin-left: auto
      margin-right: 30px
      text-align: right

.title
  padding-top: 40px
  padding-bottom: 40px
  text-align: center
  font-weight: 400
  font-size: 36px

.content
  text-align: center
  font-size: 16
  > p
    margin-bottom: 8px

.label-progress-bar
  text-align: initial
  font-weight: 600
  font-size: 18px
  padding-top: 3px
  padding-left: 6px

.resume
  > .row
    > a
      margin-left: auto
      margin-right: auto

.abilities
  > .row
    padding-top: 0 !important
    padding-bottom: 4px !important

.ability-title
  font-weight: 700
  font-size: 22px
  padding-bottom: 8px
  padding-top: 5px
  
.ability
  display: flex !important
  padding-bottom: 4px
  font-size: 17px
  > .text.rigth
    margin-left: auto
    > .fa
      font-size: 20px
      color: black
      padding-bottom: 4px;
      -webkit-transition: font-size 2s, color 2s, padding-bottom 2s, -webkit-transform 2s
      transition: font-size 2s, color 2s, padding-bottom 2s, transform 2s
  &:hover i.fa
    font-size: 22px !important
    color: red !important
    padding-bottom: 0px !important
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

.logo
  width: 27px
  height: 27px

.column.certifications
  text-align: center

.certifications-list > li
  font-size: 20px
  font-weight: 700
  padding: 7px
  > a
    color: black

.education
  text-align: justify
  font-size: 16px
  img
    width: 100%
    height: 160px
  >
    .row > .column > .column
      text-align: justify
      font-size: 14px
    .grid
      padding-bottom: 20px !important

.portfolio
  font-size: 16px

.project-image-content
  width: 100%
  height: 200px
  padding-top: 80px
  cursor: pointer
  > img
    width: 100%
    height: 50%
    -webkit-filter: grayscale(100%)
    filter: grayscale(100%)

.column:hover > a > .project-image-content > img
  +grayscale-transition(linear)
  -webkit-filter: grayscale(0%)
  filter: grayscale(0%)

.project-image-content.sinc
  padding-top: 0px
  > img
    height: 100%

.project-title
  text-align: center
  font-size: 16px
  font-weight: 700
  padding-bottom: 8px

.portfolio > .column:nth-child(2)
  border-left: 1px solid gray
  border-right: 1px solid gray

.contact
  font-size: 16px
  #send-email
    margin-left: auto
    margin-right: auto
    > input
      margin: 20px

.bold
  font-weight: 700

.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center

footer
  text-align: center
  color: white
  font-size: 12px
  background-color: #26262a
  position: relative
  padding: 5vh 10%
  width: 100vw
  box-sizing: border-box
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7)
  transform-style: inherit
  > #rights
    padding: 15px
  > #links > a > i
    color: white
    font-size: 30px;
    padding: 13px;
  > #navigation-footer
    display: inline-flex;
    margin-top: 7px;
    margin-bottom: 7px;
    > .navigation-item
      margin: 10px
      font-size: 14px
      cursor: pointer

.cd-top
  border-radius: 4px
  z-index: 10
  position: absolute
  height: 30px
  width: 30px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)
  overflow: hidden
  text-indent: 100%
  white-space: nowrap
  background: rgba(0, 0, 0, 0.5) url(../../images/cd-top-arrow.svg) no-repeat center 50%
  visibility: hidden
  opacity: 0
  +scroll-top(.3s)
  &.cd-is-visible, &.cd-fade-out
    +scroll-top(0s)

.no-touch .cd-top:hover
  +scroll-top(0s)

.cd-top
  &.cd-is-visible
    visibility: visible
    opacity: 1
  &:hover
    background-color: black
    opacity: 1

@media only screen and (min-width: 768px)
  .cd-top
    right: 20px
    bottom: 20px

@media only screen and (min-width: 1024px)
  .cd-top
    height: 50px
    width: 50px
    right: 30px
    bottom: 30px