@import url(https://fonts.googleapis.com/css?family=Quicksand);

html {
  height: 100%;
  overflow: hidden;
}

.parallax {
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parallax, div, ul, #hire {
    font-family: Quicksand, sans-serif;
}

ul {
  list-style-type: none;
}

hr {
    width: 70%;
    margin: 42px;
    margin-left: auto;
    margin-right: auto;
}

.block {
  position: relative;
  padding: 5vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.block, .block:before {
  background: 50% 50% / cover;
}

#scrollDown {
  position: absolute;
  top: 92%;
  left: 50%;
  cursor: pointer;
  -webkit-animation-name: moving; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  animation-name: moving;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

/* Animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes moving {
    0%   {top: 92%;}
    10%  {top: 91.8%;}
    20%  {top: 91.6%;}
    30%  {top: 91.4%;}
    40%  {top: 91.2%;}
    50%  {top: 91%;}
    60%  {top: 91.2%;}
    70%  {top: 91.4%;}
    80%  {top: 91.6%;}
    90%  {top: 91.8%;}
    100% {top: 92%;}
}

/* Standard syntax */
@keyframes moving {
    0%   {top: 92%;}
    10%  {top: 91.8%;}
    20%  {top: 91.6%;}
    30%  {top: 91.4%;}
    40%  {top: 91.2%;}
    50%  {top: 91%;}
    60%  {top: 91.2%;}
    70%  {top: 91.4%;}
    80%  {top: 91.6%;}
    90%  {top: 91.8%;}
    100% {top: 92%;}
}

#scrollDown > i {
  font-size: 40px;
  color: white;
}

#block_1 {
  background-image: url("../images/background.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#block_1_title {
    position: absolute;
    top: 25%;
    left: 43%;
    font-size: 30px;
    color: black;
}

#block_2 {
  background-color: white;
  min-height: 120vh;
}

.title {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
}

.content {
    text-align: center;
    font-size: 16;
}

.content > p {
  margin-bottom: 8px;
}

.abilities {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: block;
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

#nav {
    list-style-type: none;
    display: flex;
    padding: 0;
}

ul#nav li {
    width:25%;
    text-align:center;
    position: relative;
    list-style: none;
    line-height: 48px;
    display: inline-block;
    color: black;
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
}

.label-progress-bar {
  text-align: initial;
  font-weight: 600;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 6px;
}

.ability-content {
  display: flex;
  padding-bottom: 4px;
}

.logo {
    width: 27px;
    height: 27px;
}

.column.certifications {
  text-align: center;
}

.certifications-list > li {
    font-size: 20px;
    font-weight: 700;
    padding: 7px;
}

.certifications-list > li > a {
    color: black;
}